[submodule "pack/mypackage/start/lightline.vim"]
	path = pack/mypackage/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/mypackage/start/vim-gitbranch"]
	path = pack/mypackage/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "pack/mypackage/start/vimdoc-ja"]
	path = pack/mypackage/start/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule "pack/mypackage/start/vim-surround"]
	path = pack/mypackage/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/mypackage/start/vital.vim"]
	path = pack/mypackage/start/vital.vim
	url = https://github.com/vim-jp/vital.vim.git
[submodule "pack/mypackage/start/webapi-vim"]
	path = pack/mypackage/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "pack/mypackage/start/vim-polyglot"]
	path = pack/mypackage/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/mypackage/start/open-browser.vim"]
	path = pack/mypackage/start/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "pack/mypackage/start/gruvbox"]
	path = pack/mypackage/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/mypackage/start/autofmt"]
	path = pack/mypackage/start/autofmt
	url = https://github.com/vim-jp/autofmt.git
[submodule "pack/mypackage/start/vim-quickrun"]
	path = pack/mypackage/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "pack/mypackage/start/vim-gotham"]
	path = pack/mypackage/start/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "pack/mypackage/opt/vim-orgmode"]
	path = pack/mypackage/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "pack/mypackage/start/vim-speeddating"]
	path = pack/mypackage/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/mypackage/start/vim-lsp"]
	path = pack/mypackage/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/mypackage/start/async.vim"]
	path = pack/mypackage/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/mypackage/start/asyncomplete-lsp.vim"]
	path = pack/mypackage/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/mypackage/start/asyncomplete.vim"]
	path = pack/mypackage/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/mypackage/start/neco-vim"]
	path = pack/mypackage/start/neco-vim
	url = https://github.com/Shougo/neco-vim
[submodule "pack/mypackage/start/asyncomplete-necovim.vim"]
	path = pack/mypackage/start/asyncomplete-necovim.vim
	url = https://github.com/prabirshrestha/asyncomplete-necovim.vim
[submodule "pack/mypackage/opt/ale"]
	path = pack/mypackage/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/mypackage/start/gina.vim"]
	path = pack/mypackage/start/gina.vim
	url = https://github.com/lambdalisue/gina.vim.git
