[submodule "pack/mypackage/start/lightline.vim"]
	path = pack/mypackage/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/mypackage/start/vim-gitbranch"]
	path = pack/mypackage/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "pack/mypackage/start/vimdoc-ja"]
	path = pack/mypackage/start/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule "pack/mypackage/start/vim-surround"]
	path = pack/mypackage/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/mypackage/start/vital.vim"]
	path = pack/mypackage/start/vital.vim
	url = https://github.com/vim-jp/vital.vim.git
[submodule "pack/mypackage/start/webapi-vim"]
	path = pack/mypackage/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "pack/mypackage/start/vim-colorschemes"]
	path = pack/mypackage/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/mypackage/start/vim-polyglot"]
	path = pack/mypackage/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim-gotham"]
	path = pack/mypackage/start/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
