[submodule "pack/mypackage/start/vimdoc-ja"]
	path = pack/mypackage/start/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule "pack/mypackage/start/vim-surround"]
	path = pack/mypackage/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/mypackage/opt/vital.vim"]
	path = pack/mypackage/opt/vital.vim
	url = https://github.com/vim-jp/vital.vim.git
[submodule "pack/mypackage/start/vim-polyglot"]
	path = pack/mypackage/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/mypackage/start/open-browser.vim"]
	path = pack/mypackage/start/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "pack/mypackage/start/gruvbox"]
	path = pack/mypackage/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/mypackage/start/autofmt"]
	path = pack/mypackage/start/autofmt
	url = https://github.com/vim-jp/autofmt.git
[submodule "pack/mypackage/start/vim-quickrun"]
	path = pack/mypackage/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "pack/mypackage/start/vim-gotham"]
	path = pack/mypackage/start/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "pack/mypackage/opt/vim-orgmode"]
	path = pack/mypackage/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "pack/mypackage/start/vim-speeddating"]
	path = pack/mypackage/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/mypackage/start/vim-lsp"]
	path = pack/mypackage/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/mypackage/start/async.vim"]
	path = pack/mypackage/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/mypackage/start/asyncomplete-lsp.vim"]
	path = pack/mypackage/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/mypackage/start/asyncomplete.vim"]
	path = pack/mypackage/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/mypackage/opt/gina.vim"]
	path = pack/mypackage/opt/gina.vim
	url = https://github.com/lambdalisue/gina.vim.git
[submodule "pack/mypackage/start/fzf.vim"]
	path = pack/mypackage/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/mypackage/start/vim-airline"]
	path = pack/mypackage/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/mypackage/start/vim-devicons"]
	path = pack/mypackage/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/mypackage/start/vim-airline-themes"]
	path = pack/mypackage/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/mypackage/start/previm"]
	path = pack/mypackage/start/previm
	url = https://github.com/previm/previm.git
[submodule "pack/mypackage/start/vaffle.vim"]
	path = pack/mypackage/start/vaffle.vim
	url = https://github.com/cocopon/vaffle.vim.git
[submodule "pack/mypackage/start/vim-fugitive"]
	path = pack/mypackage/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/mypackage/start/vim-matchup"]
	path = pack/mypackage/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "pack/mypackage/start/vimproc.vim"]
	path = pack/mypackage/start/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "pack/mypackage/start/vim-lsp-settings"]
	path = pack/mypackage/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "pack/mypackage/start/iceberg.vim"]
	path = pack/mypackage/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "pack/mypackage/start/vim-anzu"]
	path = pack/mypackage/start/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu.git
[submodule "pack/mypackage/start/dracula"]
	path = pack/mypackage/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/mypackage/opt/dracula"]
	path = pack/mypackage/opt/dracula
	url = https://github.com/dracula/vim.git
